:root {
  --green_font_color: #0AA2A4;
  --std_black_color: #2C323D;
}

body{
  background-color: #2C323D;
}

h1{
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  color: white;
  
}

#settings-card{
  margin: auto;
  width: 100%;
  height: 100vh;
  background-color: #2C323D;
}

.settings-page-content{
  position: absolute;
  top: 20%;
  width: 100%;
}

form{
  width: 100%;
  display: grid;
  position: relative;
  
}

#change_password, #username, #first_name, 
#last_name, #email, #country,
#country_code,
#submit{
  position: relative;
  left: 37%;
}



#h-bar{
  margin: 50px;
  width: 90%;
  color: lightgrey;
}

/*nav links styling*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 /* position: absolute;*/
}

li {
  float: left;
  position: relative;
  left:24%;
}

li a {
  display: block;
  font-family: 'Quicksand', sans-serif;
  padding: 90px;
  color: white;
  text-decoration: none;
  font-weight: 400px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

input[type=text]{
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  color: black;
  background-color: #2C323D;
  margin: 5px;
  height: 40px;
  width: 25%;
  border: 2px solid #0AA2A4;
  color: white;  
  text-align: center;
  text-decoration: none;
}

input[type=text]:hover{
  margin: auto;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  color: black;
  background-color: #2C323D;
  margin: 5px;
  height: 40px;
  width: 25%;
  border: 2px solid white;
  color: white;
  text-align: center;
  text-decoration: none;
}

input[type=submit]{
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  color: black;
  background-color: #2C323D;
  margin: 5px;
  height: 40px;
  width: 25%;
  border: 2px solid #0AA2A4;
  border-radius: 25px;
  color: white;  
  text-align: center;
  text-decoration: none;
}

input[type=submit]:hover{
  margin: auto;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  color: black;
  background-color: #2C323D;
  margin: 5px;
  height: 40px;
  width: 25%;
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  text-align: center;
  text-decoration: none;
}
.error{
  color:red;
  text-align:center;
  }

#logout-link{
  position:relative;
  left:90%;
  color:white;
  font-family: 'Quicksand', sans-serif;
}
